@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap");

@font-face {
  font-family: "Cardinal";
  src: url("../public/assets/fonts/Cardinal.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Romie";
  src: url("../public/assets/fonts/Romie-Black.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Romie";
  src: url("../public/assets/fonts/Romie-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Romie";
  src: url("../public/assets/fonts/Romie-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Romie";
  src: url("../public/assets/fonts/Romie-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "voyage";
  src: url("../public/assets/fonts/voyage-regular.otf") format("opentype");
  font-display: swap;
}

:root {
  --primary-color: #000;
  --secondary-color: #dfd4bf;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.custom-checkbox::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-checkbox:checked::before {
  content: '\2713'; /* Checkmark character */
  color: black;
    font-size: 0.75rem; /* Adjust the size of the checkmark */
  font-weight: bold; /* Make the checkmark bolder */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 3px;
  height: 30px;
  background: black;
  cursor: pointer;
}
